Repository synnaxlabs/synnax: changes, and which Codecov flags are due for each by the changed paths.
All: alamos-go, alamos-py, alamos-ts, arc-cpp, arc-go, aspen, cesium, client-cpp, client-py, client-ts, console, core, drift, driver, freighter-cpp, freighter-go, freighter-integration, freighter-py, freighter-ts, pluto, x-cpp, x-go, x-ts

[driver] - scan task cleanup and formatting
  driver/ethercat/engine/pool.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/write_task.h
Due: driver

[ops] - formatting and test fixes
  arc/cpp/ir/ir.cpp
  arc/cpp/ir/types.gen.h
  arc/cpp/runtime/runtime.h
  arc/cpp/runtime/runtime_test.cpp
  arc/cpp/runtime/scheduler/scheduler.h
  arc/cpp/runtime/scheduler/scheduler_test.cpp
  arc/cpp/runtime/state/state_test.cpp
  arc/cpp/runtime/time/time.h
  arc/cpp/runtime/time/time_test.cpp
  arc/cpp/runtime/wasm/node.h
  arc/go/analyzer/expression/expression.go
  arc/go/symbol/scope.go
  client/py/synnax/arc/types.py
  client/py/synnax/ranger/kv/payload.py
  client/py/tests/test_arc.py
  client/ts/src/channel/payload.ts
  client/ts/src/channel/retriever.ts
  client/ts/src/channel/types.gen.ts
  client/ts/src/status/payload.ts
  core/pkg/service/arc/runtime/task.go
  core/pkg/service/arc/runtime/task_test.go
  driver/daemon/daemon_linux.cpp
  go.work.sum
  pluto/src/channel/queries.spec.ts
  schemas/arc/ir.oracle
  schemas/channel.oracle
  x/cpp/loop/loop_test.cpp
  x/cpp/lua/lua.h
  x/cpp/lua/lua_test.cpp
  x/cpp/notify/notify_test.cpp
  x/cpp/status/status_test.cpp
  x/cpp/telem/frame.cpp
  x/cpp/telem/frame.h
  x/cpp/telem/series_test.cpp
  x/cpp/telem/telem_test.cpp
  x/go/lsp/lsp_test.go
Due: arc-cpp, arc-go, client-py, client-ts, driver, pluto, x-cpp, x-go

[arc] - testing checkpoint
  arc/cpp/runtime/loop/loop_linux.cpp
  arc/cpp/runtime/loop/loop_windows.cpp
  client/ts/src/channel/client.ts
Due: arc-cpp, client-ts

checkpoint
  client/cpp/framer/framer.h
  docs/PR_SEPARATION_PLAN.md
  freighter/integration/go.mod
  freighter/integration/go.sum
  go.work.sum
  oracle/go.mod
  oracle/go.sum
  x/go/go.mod
  x/go/go.sum
Due: client-cpp, freighter-integration, x-go

[console] - cleaned up task channel names
  console/src/hardware/common/task/layouts/ListAndDetailsChannelItem.tsx
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/Write.tsx
Due: console

[ops] - checkpoint
  .copyrightignore
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/Write.tsx
Due: console

SY-3645: integration test console client refactor part 7 (Context Menu and Tree)
  integration/console/access.py
  integration/console/base.py
  integration/console/channels.py
  integration/console/context_menu.py
  integration/console/layout.py
  integration/console/ranges.py
  integration/console/schematic/symbol_toolbar.py
  integration/console/tree.py
  integration/console/workspace.py
Due: none

[driver] - made it so that igh is dynamically loaded
  driver/ethercat/factory.cpp
  driver/ethercat/igh/BUILD.bazel
  driver/ethercat/igh/api.h
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/igh/master_test.cpp
Due: driver

[driver] - updated nodiscards in igh API
  driver/ethercat/igh/api.h
Due: driver

[driver/ethercat] - added logging for backend selection
  driver/ethercat/factory.cpp
Due: driver

Slight clean up of code
  x/go/errors/accumulator.go
  x/go/errors/accumulator_test.go
Due: x-go

[driver/ethercat] - added passive slave checking
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
Due: driver

SY-3645: notificaitons, tree, and ctx_menu are independent of layout
  integration/console/access.py
  integration/console/arc.py
  integration/console/base.py
  integration/console/case.py
  integration/console/channels.py
  integration/console/console.py
  integration/console/layout.py
  integration/console/page.py
  integration/console/plot.py
  integration/console/ranges.py
  integration/console/schematic/schematic.py
  integration/console/schematic/setpoint.py
  integration/console/schematic/symbol.py
  integration/console/schematic/symbol_toolbar.py
  integration/console/workspace.py
  integration/tests/console/channel/channel_operations.py
  integration/tests/console/range/range_lifecycle.py
  integration/tests/console/schematic/custom_symbols.py
  integration/tests/console/task/no_device.py
Due: none

[driver] - added passive detection to EtherCAT slaves
  console/src/hardware/ethercat/device/queries.ts
  console/src/hardware/ethercat/device/services/ontology.tsx
  console/src/hardware/ethercat/device/types.ts
  driver/ethercat/device/device.h
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/mock/master.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
Due: console, driver

[vendor] - tuning
  .github/workflows/test.soem.yaml
  arc/cpp/runtime/loop/loop.h
  arc/cpp/runtime/loop/loop_darwin.cpp
  arc/cpp/runtime/loop/loop_linux.cpp
  arc/cpp/runtime/loop/loop_windows.cpp
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/BUILD.bazel
  vendor/soem/macos/osal/osal_test.cpp
  vendor/soem/macos/oshw/BUILD.bazel
  vendor/soem/macos/oshw/oshw.h
  vendor/soem/macos/oshw/oshw_test.cpp
Due: arc-cpp

[vendor] - soem build rules updates
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/BUILD.bazel
  vendor/soem/macos/oshw/BUILD.bazel
Due: none

SY-3645: refactor task form channels
  integration/console/layout.py
  integration/console/task/channels/analog.py
  integration/console/task/channels/analog_input/accelerometer.py
  integration/console/task/channels/analog_input/bridge.py
  integration/console/task/channels/analog_input/current.py
  integration/console/task/channels/analog_input/force_bridge_table.py
  integration/console/task/channels/analog_input/force_bridge_two_point_linear.py
  integration/console/task/channels/analog_input/force_iepe.py
  integration/console/task/channels/analog_input/microphone.py
  integration/console/task/channels/analog_input/pressure_bridge_table.py
  integration/console/task/channels/analog_input/pressure_bridge_two_point_linear.py
  integration/console/task/channels/analog_input/resistance.py
  integration/console/task/channels/analog_input/rtd.py
  integration/console/task/channels/analog_input/strain_gauge.py
  integration/console/task/channels/analog_input/temperature_built_in_sensor.py
  integration/console/task/channels/analog_input/thermocouple.py
  integration/console/task/channels/analog_input/torque_bridge_table.py
  integration/console/task/channels/analog_input/torque_bridge_two_point_linear.py
  integration/console/task/channels/analog_input/velocity_iepe.py
  integration/console/task/channels/counter.py
  integration/console/task/channels/counter_input/angular_position.py
  integration/console/task/channels/counter_input/angular_velocity.py
  integration/console/task/channels/counter_input/duty_cycle.py
  integration/console/task/channels/counter_input/edge_count.py
  integration/console/task/channels/counter_input/frequency.py
  integration/console/task/channels/counter_input/linear_position.py
  integration/console/task/channels/counter_input/linear_velocity.py
  integration/console/task/channels/counter_input/period.py
  integration/console/task/channels/counter_input/pulse_width.py
  integration/console/task/channels/counter_input/semi_period.py
  integration/console/task/channels/counter_input/two_edge_separation.py
  integration/console/workspace.py
Due: none

[vendor/soem] - returned github workflows
  .github/workflows/test.soem.yaml
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/BUILD.bazel
  vendor/soem/macos/oshw/BUILD.bazel
  vendor/soem/macos/oshw/oshw.h
Due: none

SY-3645: remove timeouts from function paramaters and move responsibility to tree client from base
  integration/console/base.py
  integration/console/channels.py
  integration/console/docs.py
  integration/console/log.py
  integration/console/rack.py
  integration/console/ranges.py
  integration/console/schematic/symbol_editor.py
  integration/console/tree.py
  integration/console/workspace.py
  integration/tests/console/bad_actor.py
  integration/tests/console/log/log_lifecycle.py
  integration/tests/console/schematic/schematic_lifecycle.py
Due: none

[driver/ethercat] - updated ethercat read task
  driver/ethercat/write_task.h
Due: driver

[docs/site] - continued updating
  docs/site/src/pages/reference/driver/ethercat/write-task.mdx
Due: none

[driver/ethercat] - added enabled/disabled implementations
  driver/ethercat/device/device.h
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/mock/master.h
  driver/ethercat/read_task.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/write_task.h
  driver/task/common/scan_task.h
  driver/task/common/write_task.h
Due: driver

nit fixes
  integration/console/access.py
  integration/console/base.py
  integration/console/channels.py
  integration/console/layout.py
  integration/console/task/channels/analog.py
  integration/console/task/channels/counter.py
  integration/console/task/ni.py
  integration/console/workspace.py
Due: none

[driver] - udpated ethercat slave info
  driver/ethercat/master/slave_info.h
Due: driver

[driver/ethercat] - better pdo and slave naming
  driver/ethercat/channel/channel.h
  driver/ethercat/device/device.h
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/esi/BUILD.bazel
  driver/ethercat/esi/known_devices.cpp
  driver/ethercat/esi/known_devices.h
  driver/ethercat/esi/known_devices_test.cpp
  driver/ethercat/ethercat.h
  driver/ethercat/factory.cpp
  driver/ethercat/hardware_test.cpp
  driver/ethercat/igh/api.h
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/BUILD.bazel
  driver/ethercat/master/master.h
  driver/ethercat/master_test.cpp
  driver/ethercat/mock/master.h
  driver/ethercat/mock/pool.h
  driver/ethercat/pdo/BUILD.bazel
  driver/ethercat/pdo/pdo.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/slave/BUILD.bazel
  driver/ethercat/slave/slave.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/telem/telem.h
  driver/ethercat/telem/telem_test.cpp
  driver/ethercat/topology/topology.h
  driver/ethercat/topology/topology_test.cpp
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
Due: driver

[driver/ethercat] - simplified slave implementations
  driver/ethercat/BUILD.bazel
  driver/ethercat/channel/BUILD.bazel
  driver/ethercat/channel/channel.h
  driver/ethercat/device/BUILD.bazel
  driver/ethercat/device/device.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/igh/master.cpp
  driver/ethercat/master_test.cpp
  driver/ethercat/mock/master.h
  driver/ethercat/pdo/pdo.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task_test.cpp
  driver/ethercat/slave/BUILD.bazel
  driver/ethercat/slave/slave.h
  driver/ethercat/slave/slave_test.cpp
  driver/ethercat/soem/master.cpp
  driver/ethercat/topology/BUILD.bazel
  driver/ethercat/topology/topology.h
  driver/ethercat/topology/topology_test.cpp
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
Due: driver

[driver/ethercat] - consolidated channel logic
  driver/ethercat/channel/channel.h
  driver/ethercat/read_task.h
  driver/ethercat/slave/slave_test.cpp
  driver/ethercat/write_task.h
Due: driver

[driver/ethercat] - improved testing for channel and PDOs
  driver/ethercat/channel/BUILD.bazel
  driver/ethercat/channel/channel_test.cpp
  driver/ethercat/pdo/BUILD.bazel
  driver/ethercat/pdo/pdo_test.cpp
Due: driver

[driver/ethercat] - checkpoint
  driver/ethercat/pdo/pdo_test.cpp
Due: driver

SY-3638: EtherCAT 1 - Add cross-platform real-time threading utilities (#1915)
  .bazelrc
  .github/workflows/test.soem.yaml
  .gitmodules
  arc/cpp/runtime/loop/BUILD.bazel
  arc/cpp/runtime/loop/loop.h
  arc/cpp/runtime/loop/loop_darwin.cpp
  arc/cpp/runtime/loop/loop_linux.cpp
  arc/cpp/runtime/loop/loop_test.cpp
  arc/cpp/runtime/loop/loop_windows.cpp
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/osal.c
  vendor/soem/macos/osal/osal_defs.h
  vendor/soem/macos/osal/osal_test.cpp
  vendor/soem/macos/oshw/nicdrv.c
  vendor/soem/macos/oshw/nicdrv.h
  vendor/soem/macos/oshw/oshw.c
  vendor/soem/macos/oshw/oshw.h
  vendor/soem/macos/oshw/oshw_test.cpp
  x/cpp/xthread/BUILD.bazel
  x/cpp/xthread/rt.h
  x/cpp/xthread/rt_darwin.cpp
  x/cpp/xthread/rt_default.cpp
  x/cpp/xthread/rt_linux.cpp
  x/cpp/xthread/rt_test.cpp
  x/cpp/xthread/rt_windows.cpp
Due: arc-cpp, x-cpp

increase timeouts
  integration/console/channels.py
  integration/console/console.py
  integration/console/layout.py
  integration/console/schematic/button.py
  integration/console/schematic/custom_symbol.py
  integration/console/schematic/schematic.py
  integration/console/schematic/symbol.py
  integration/console/schematic/symbol_editor.py
  integration/console/schematic/valve.py
  integration/console/task_page.py
  integration/console/workspace.py
Due: none

Path conditions:
  alamos-go: any of: alamos/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  alamos-py: any of: alamos/py/alamos/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  alamos-ts: any of: alamos/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  arc-cpp: any of: arc/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  arc-go: any of: arc/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  aspen: any of: aspen/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  cesium: any of: cesium/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-cpp: any of: client/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-py: any of: client/py/synnax/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-ts: any of: client/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  console: any of: console/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  core: any of: synnax/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  drift: any of: drift/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  driver: any of: driver/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-cpp: any of: freighter/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-go: any of: freighter/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-integration: any of: freighter/integration/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-py: any of: freighter/py/freighter/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-ts: any of: freighter/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  pluto: any of: pluto/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-cpp: any of: x/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-go: any of: x/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-ts: any of: x/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
