Repository synnaxlabs/synnax: changes, and which Codecov flags are due for each by the changed paths.
All: alamos-go, alamos-py, alamos-ts, arc-cpp, arc-go, aspen, cesium, client-cpp, client-py, client-ts, console, core, drift, driver, freighter-cpp, freighter-go, freighter-integration, freighter-py, freighter-ts, pluto, x-cpp, x-go, x-ts

codecov.yaml:

fixes:
  - "github.com/synnaxlabs/alamos/::/alamos/go/"
  - "github.com/synnaxlabs/arc/::/arc/go/"
  - "github.com/synnaxlabs/freighter/::/freighter/go/"
  - "github.com/synnaxlabs/synnax/::/core/"
  - "github.com/synnaxlabs/x/::/x/go/"

flags:
  alamos-go:
    paths:
      - "alamos/go/**"
  alamos-py:
    paths:
      - "alamos/py/alamos/**"
  alamos-ts:
    paths:
      - "alamos/ts/src/**"
  arc-cpp:
    paths:
      - "arc/cpp/**"
  arc-go:
    paths:
      - "arc/go/**"
  aspen:
    paths:
      - "aspen/**"
  cesium:
    paths:
      - "cesium/**"
  client-cpp:
    paths:
      - "client/cpp/**"
  client-py:
    paths:
      - "client/py/synnax/**"
  client-ts:
    paths:
      - "client/ts/src/**"
  console:
    paths:
      - "console/src/**"
  core:
    paths:
      - "synnax/**"
  drift:
    paths:
      - "drift/src/**"
  driver:
    paths:
      - "driver/**"
  freighter-cpp:
    paths:
      - "freighter/cpp/**"
  freighter-go:
    paths:
      - "freighter/go/**"
  freighter-integration:
    paths:
      - "freighter/integration/**"
  freighter-py:
    paths:
      - "freighter/py/freighter/**"
  freighter-ts:
    paths:
      - "freighter/ts/src/**"
  pluto:
    paths:
      - "pluto/src/**"
  x-cpp:
    paths:
      - "x/cpp/**"
  x-go:
    paths:
      - "x/go/**"
  x-ts:
    paths:
      - "x/ts/src/**"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: patch
        target: 80%
      - type: patch

ignore:
  - "**/*.pb.go"
  - "**/*_generated.go"
  - "**/*_string.go"
  - "arc/go/parser/arc_lexer.go"
  - "arc/go/parser/arc_parser.go"
  - "arc/go/parser/arcparser_base_listener.go"
  - "arc/go/parser/arcparser_base_visitor.go"
  - "arc/go/parser/arcparser_listener.go"
  - "arc/go/parser/arcparser_visitor.go"

Remove ConfigureInitialTasks API
  core/pkg/service/arc/runtime/factory.go
  core/pkg/service/arc/runtime/task_test.go
  core/pkg/service/driver/driver.go
  core/pkg/service/driver/driver_test.go
  core/pkg/service/driver/factory.go
  core/pkg/service/sift/factory.go
  core/pkg/service/sift/uploader.go
Due: none

more code simplification
  core/pkg/service/sift/client.go
  core/pkg/service/sift/config.go
  core/pkg/service/sift/factory.go
  core/pkg/service/sift/sift.go
  core/pkg/service/sift/sift_test.go
  core/pkg/service/sift/uploader.go
  x/go/kv/key.go
Due: x-go

rename catchers and refactor errors
  arc/go/runtime/wasm/module.go
  cesium/db.go
  cesium/delete.go
  cesium/internal/domain/db.go
  cesium/internal/domain/file_controller.go
  cesium/writer_stream.go
  core/pkg/api/channel.go
  core/pkg/api/framer.go
  core/pkg/distribution/mock/cluster.go
  core/pkg/service/access/rbac/service.go
  core/pkg/service/framer/calculation/calculator/group.go
  core/pkg/service/framer/calculation/service.go
  core/pkg/service/framer/iterator/calculation.go
  core/pkg/service/rack/service.go
  core/pkg/storage/mock/cluster.go
  freighter/go/freightfluence/sender.go
  freighter/integration/go.mod
  freighter/integration/go.sum
  go.work.sum
  x/go/errors/catch.go
  x/go/errors/catch_test.go
  x/go/errors/encode.go
  x/go/errors/errors.go
  x/go/errors/errors_suite_test.go
  x/go/errors/errors_test.go
  x/go/errors/pb.go
  x/go/errors/roach.go
  x/go/errors/stack.go
  x/go/errors/stack_test.go
  x/go/io/closer.go
  x/go/kv/key.go
Due: arc-go, cesium, freighter-go, freighter-integration, x-go

refactor catchers more
  arc/go/runtime/wasm/module.go
  cesium/db.go
  cesium/delete.go
  cesium/internal/domain/db.go
  cesium/internal/domain/file_controller.go
  cesium/writer_stream.go
  core/pkg/api/channel.go
  core/pkg/api/framer.go
  core/pkg/distribution/mock/cluster.go
  core/pkg/service/access/rbac/service.go
  core/pkg/service/framer/calculation/calculator/group.go
  core/pkg/service/framer/calculation/service.go
  core/pkg/service/framer/iterator/calculation.go
  core/pkg/service/rack/service.go
  core/pkg/storage/mock/cluster.go
  freighter/go/freightfluence/sender.go
  x/go/errors/catch.go
  x/go/errors/catch_test.go
  x/go/errors/errors.go
  x/go/io/closer.go
  x/go/io/closer_test.go
  x/go/validate/validator.go
Due: arc-go, cesium, freighter-go, x-go

rename catcher to accumulator
  arc/go/runtime/wasm/module.go
  cesium/db.go
  cesium/delete.go
  cesium/internal/domain/db.go
  cesium/internal/domain/file_controller.go
  cesium/writer_stream.go
  core/pkg/api/channel.go
  core/pkg/api/framer.go
  core/pkg/distribution/mock/cluster.go
  core/pkg/service/access/rbac/service.go
  core/pkg/service/framer/calculation/calculator/group.go
  core/pkg/service/framer/calculation/service.go
  core/pkg/service/framer/iterator/calculation.go
  core/pkg/service/rack/service.go
  core/pkg/storage/mock/cluster.go
  freighter/go/freightfluence/sender.go
  x/go/errors/accumulator.go
  x/go/errors/accumulator_test.go
  x/go/errors/catch.go
  x/go/errors/catch_test.go
  x/go/io/closer.go
  x/go/validate/validator.go
Due: arc-go, cesium, freighter-go, x-go

Improve accumulator tests
  x/go/errors/accumulator_test.go
Due: x-go

fixes
  cesium/writer_stream.go
  freighter/go/freightfluence/sender.go
  x/go/errors/accumulator_test.go
Due: cesium, freighter-go, x-go

remove unneeded aggregator
  core/pkg/api/framer.go
Due: none

SY-3645: client bugfixes
  integration/console/layout.py
  integration/console/log.py
  integration/console/page.py
  integration/console/plot.py
  integration/console/schematic/custom_symbol.py
  integration/console/schematic/schematic.py
  integration/console/schematic/symbol.py
  integration/console/schematic/symbol_toolbar.py
  integration/console/workspace.py
  integration/tests/console/schematic/custom_symbols.py
Due: none

[driver] - more cleanup of ethercat engine
  driver/ethercat/BUILD.bazel
  driver/ethercat/engine/BUILD.bazel
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/errors/errors.h
  driver/ethercat/factory.cpp
  driver/ethercat/hardware_test.cpp
  driver/ethercat/loop/loop.cpp
  driver/ethercat/loop/loop.h
  driver/ethercat/loop/loop_test.cpp
  driver/ethercat/master/slave_info.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
Due: driver

Update some dependency specifiers
  configs/eslint/package.json
  docs/site/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update console and docs test
  .github/workflows/test.console.yaml
  .github/workflows/test.docs.yaml
Due: none

More upgrades
  configs/eslint/package.json
  docs/site/package.json
  pluto/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

More upgrades
  configs/eslint/package.json
  docs/site/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Upgrade Astro SEO
  docs/site/package.json
  pnpm-lock.yaml
Due: none

Use latest globals
  configs/eslint/package.json
  pnpm-lock.yaml
Due: none

Upgrade zod
  client/ts/src/status/payload.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: client-ts

[driver] - checkpoint
  driver/ethercat/engine/BUILD.bazel
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/ethercat.h
  driver/ethercat/factory.cpp
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/mock/master.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
  driver/rack/factories.cpp
Due: driver

Update stylelint config and add stylelint scripts to all sources using CSS files
  configs/stylelint/index.ts
  configs/stylelint/package.json
  console/package.json
  console/stylelint.config.ts
  docs/site/package.json
  docs/site/stylelint.config.ts
  package.json
  pluto/package.json
  pluto/stylelint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  x/media/package.json
  x/media/stylelint.config.ts
Due: none

fix lockfile and stuff
  configs/eslint/package.json
  configs/stylelint/eslint.config.ts
  configs/stylelint/package.json
  configs/stylelint/tsconfig.json
  console/tsconfig.json
  docs/site/tsconfig.json
  pluto/tsconfig.json
  pnpm-lock.yaml
  x/media/tsconfig.json
Due: none

[driver] - improved vendor libraries
  .gitignore
  .gitmodules
  driver/errors/errors.h
  driver/ethercat/channel/channel.h
  driver/ethercat/device/device.h
  driver/ethercat/docs/CONFIG.md
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/errors/errors.h
  driver/ethercat/esi/BUILD.bazel
  driver/ethercat/esi/known_devices.cpp
  driver/ethercat/esi/known_devices.h
  driver/ethercat/esi/known_devices_test.cpp
  driver/ethercat/esi/main.go
  driver/ethercat/esi/parser/BUILD.bazel
  driver/ethercat/esi/parser/go.mod
  driver/ethercat/esi/parser/go.sum
  driver/ethercat/esi/parser/main.go
  driver/ethercat/esi/parser/main_test.go
  driver/ethercat/esi/registry_stats.json
  driver/ethercat/factory.cpp
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/master/slave_info.h
  driver/ethercat/mock/master.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/telem/telem.h
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
  go.work
Due: driver

[driver] - updated ethercat implementation
  driver/ethercat/esi/known_devices.cpp
  driver/ethercat/esi/known_devices.h
  driver/ethercat/master/slave_info.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
Due: driver

[driver] - scan task refactoring
  driver/ethercat/read_task.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
Due: driver

[driver] - updated task tests
  console/src/hardware/ethercat/device/types.ts
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/Write.tsx
  console/src/hardware/ethercat/task/types.ts
  driver/ethercat/docs/CONFIG.md
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/esi/known_devices_test.cpp
  driver/ethercat/esi/registry_stats.json
  driver/ethercat/master_test.cpp
  driver/ethercat/scan_task_test.cpp
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
Due: console, driver

checkpoint
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/mock/BUILD.bazel
  driver/ethercat/mock/master.h
  driver/ethercat/mock/pool.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task_test.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/telem/telem_test.cpp
  driver/ethercat/write_task_test.cpp
Due: driver

[driver] - more refining to ethercat
  console/src/hardware/ethercat/device/Configure.tsx
  console/src/hardware/ethercat/device/Select.tsx
  console/src/hardware/ethercat/device/SelectSlave.tsx
  console/src/hardware/ethercat/device/external.ts
  console/src/hardware/ethercat/device/types.ts
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/Write.tsx
  console/src/hardware/ethercat/task/types.ts
  driver/ethercat/device/device.h
  driver/ethercat/docs/ARCHITECTURE.md
  driver/ethercat/docs/CONFIG.md
  driver/ethercat/docs/DYNAMIC_TASKS.md
  driver/ethercat/docs/SCAN_TASK_DESIGN.md
  driver/ethercat/docs/TESTING_NOTES.md
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/ethercat.h
  driver/ethercat/factory.cpp
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
  x/cpp/xthread/rt.h
Due: console, driver, x-cpp

[console] - updated ethercat task types
  console/src/hardware/ethercat/task/types.ts
  console/src/hardware/task/layouts.ts
Due: console

[driver] - updated rt configs
  arc/cpp/runtime/loop/loop_darwin.cpp
  arc/cpp/runtime/loop/loop_linux.cpp
  arc/cpp/runtime/loop/loop_windows.cpp
  driver/ethercat/engine/engine.cpp
  driver/rack/rack.cpp
  x/cpp/xtest/xtest_test.cpp
  x/cpp/xthread/BUILD.bazel
  x/cpp/xthread/rt.h
  x/cpp/xthread/rt_darwin.cpp
  x/cpp/xthread/rt_default.cpp
  x/cpp/xthread/rt_linux.cpp
  x/cpp/xthread/rt_test.cpp
  x/cpp/xthread/rt_windows.cpp
Due: arc-cpp, driver, x-cpp

[driver] - updated tailscale stuff
  driver/modbus/scan_task.h
  driver/task/common/scan_task.h
  driver/task/common/scan_task_test.cpp
  vendor/soem/macos/oshw/nicdrv.c
Due: driver

[driver/ethercat] - removed known devices parser
  driver/ethercat/esi/parser/BUILD.bazel
  driver/ethercat/esi/parser/go.mod
  driver/ethercat/esi/parser/go.sum
  driver/ethercat/esi/parser/main.go
  driver/ethercat/esi/parser/main_test.go
  go.work
Due: driver

[ops] - fixed buidls
  .copyrightignore
  client/py/examples/dev/ethercat.py
  vendor/esi/BUILD.bazel
Due: none

[docs] - removed ethercat research file
  docs/claude/components/ethercat-research.md
Due: none

[ops] - updated workflows
  .github/workflows/build.synnax.yaml
  .github/workflows/test.driver.yaml
  arc/cpp/runtime/loop/loop.h
  x/cpp/xthread/rt_windows.cpp
Due: arc-cpp, x-cpp

[ops] - updated workflows
  .github/workflows/build.synnax.yaml
  .github/workflows/test.driver.yaml
Due: none

[driver] - fixed build issues
  .github/workflows/build.synnax.yaml
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/igh/master_test.cpp
Due: driver

Update documentation
  core/pkg/service/driver/factory.go
  x/go/kv/key.go
Due: x-go

[driver] - fixed issues with IgH EtherCAT master
  driver/ethercat/BUILD.bazel
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/ethercat.h
  driver/ethercat/factory.cpp
  driver/ethercat/igh/BUILD.bazel
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/mock/master.h
  driver/ethercat/mock/pool.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/scan_task_test.cpp
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/rack/factories.cpp
Due: driver

Add standard unknown command API
  core/pkg/service/arc/runtime/task.go
  core/pkg/service/driver/driver.go
  core/pkg/service/driver/task.go
  core/pkg/service/sift/sift.go
  core/pkg/service/sift/uploader.go
Due: none

task type renamings
  core/pkg/service/sift/factory.go
Due: none
