Repository synnaxlabs/synnax: changes, and which Codecov flags are due for each by the changed paths.
All: alamos-go, alamos-py, alamos-ts, arc-cpp, arc-go, aspen, cesium, client-cpp, client-py, client-ts, console, core, drift, driver, freighter-cpp, freighter-go, freighter-integration, freighter-py, freighter-ts, pluto, x-cpp, x-go, x-ts

codecov.yaml:

fixes:
  - "github.com/synnaxlabs/alamos/::/alamos/go/"
  - "github.com/synnaxlabs/arc/::/arc/go/"
  - "github.com/synnaxlabs/freighter/::/freighter/go/"
  - "github.com/synnaxlabs/synnax/::/core/"
  - "github.com/synnaxlabs/x/::/x/go/"

flags:
  alamos-go:
    paths:
      - "alamos/go/**"
  alamos-py:
    paths:
      - "alamos/py/alamos/**"
  alamos-ts:
    paths:
      - "alamos/ts/src/**"
  arc-cpp:
    paths:
      - "arc/cpp/**"
  arc-go:
    paths:
      - "arc/go/**"
  aspen:
    paths:
      - "aspen/**"
  cesium:
    paths:
      - "cesium/**"
  client-cpp:
    paths:
      - "client/cpp/**"
  client-py:
    paths:
      - "client/py/synnax/**"
  client-ts:
    paths:
      - "client/ts/src/**"
  console:
    paths:
      - "console/src/**"
  core:
    paths:
      - "synnax/**"
  drift:
    paths:
      - "drift/src/**"
  driver:
    paths:
      - "driver/**"
  freighter-cpp:
    paths:
      - "freighter/cpp/**"
  freighter-go:
    paths:
      - "freighter/go/**"
  freighter-integration:
    paths:
      - "freighter/integration/**"
  freighter-py:
    paths:
      - "freighter/py/freighter/**"
  freighter-ts:
    paths:
      - "freighter/ts/src/**"
  pluto:
    paths:
      - "pluto/src/**"
  x-cpp:
    paths:
      - "x/cpp/**"
  x-go:
    paths:
      - "x/go/**"
  x-ts:
    paths:
      - "x/ts/src/**"

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: patch
        target: 80%
      - type: patch

ignore:
  - "**/*.pb.go"
  - "**/*_generated.go"
  - "**/*_string.go"
  - "arc/go/parser/arc_lexer.go"
  - "arc/go/parser/arc_parser.go"
  - "arc/go/parser/arcparser_base_listener.go"
  - "arc/go/parser/arcparser_base_visitor.go"
  - "arc/go/parser/arcparser_listener.go"
  - "arc/go/parser/arcparser_visitor.go"

remove Go triggers
  .github/workflows/test.alamos.go.yaml
  .github/workflows/test.arc.go.yaml
  .github/workflows/test.aspen.yaml
  .github/workflows/test.cesium.yaml
  .github/workflows/test.core.yaml
  .github/workflows/test.freighter.go.yaml
  .github/workflows/test.freighter.integration.yaml
Due: none

[arc/go] - fixed issues with OS jitter in timing intervals
  arc/go/runtime/node/context.go
  arc/go/runtime/scheduler/scheduler.go
  arc/go/runtime/scheduler/scheduler_test.go
  arc/go/runtime/time/time.go
  arc/go/runtime/time/time_test.go
  core/pkg/service/arc/runtime/state_config.go
  core/pkg/service/arc/runtime/task.go
  core/pkg/service/framer/calculation/calculator/calculator.go
Due: arc-go

[arc/cpp] - updated timing tests
  arc/cpp/runtime/node/node.h
  arc/cpp/runtime/runtime.h
  arc/cpp/runtime/runtime_test.cpp
  arc/cpp/runtime/scheduler/scheduler.h
  arc/cpp/runtime/scheduler/scheduler_test.cpp
  arc/cpp/runtime/time/BUILD.bazel
  arc/cpp/runtime/time/time.h
  arc/cpp/runtime/time/time_test.cpp
Due: arc-cpp

try with flag management
  codecov.yaml
Due: none

Remove project coverage
  codecov.yaml
Due: none

Remove Go changes
  .github/workflows/test.alamos.go.yaml
  .github/workflows/test.arc.go.yaml
  .github/workflows/test.aspen.yaml
  .github/workflows/test.cesium.yaml
  .github/workflows/test.core.yaml
  .github/workflows/test.freighter.go.yaml
  .github/workflows/test.freighter.integration.yaml
  .github/workflows/test.x.go.yaml
Due: none

[docs] - updated tmLanguage
  arc/go/lsp/extensions/vscode/syntaxes/arc.tmLanguage.json
  arc/ts/src/grammar/index.ts
  arc/ts/src/vite-env.d.ts
  console/package.json
  console/src/code/arc/arc.tmLanguage.json
  console/src/code/arc/lsp.ts
  docs/arc-research/04-writing-style.md
  docs/site/src/pages/reference/control/arc/get-started.mdx
  docs/site/src/pages/reference/control/arc/how-to/sensor-averaging.mdx
  docs/site/src/pages/reference/control/arc/how-to/unit-conversions.mdx
  docs/site/src/pages/reference/control/arc/introduction.mdx
  package.json
  pnpm-lock.yaml
Due: arc-go, console

remove Hedron compile dependency
  MODULE.bazel
Due: none

Address PR review comments for arc error handling and naming consistency
  arc/cpp/runtime/runtime.h
  arc/cpp/runtime/time/time.h
  arc/cpp/runtime/time/time_test.cpp
  arc/go/analyzer/expression/expression.go
  arc/go/runtime/time/time.go
  arc/go/runtime/time/time_test.go
Due: arc-cpp, arc-go

SY-3647: Fix Various Minor Arc Bugs (#1905)
  arc/cpp/runtime/node/node.h
  arc/cpp/runtime/runtime.h
  arc/cpp/runtime/runtime_test.cpp
  arc/cpp/runtime/scheduler/scheduler.h
  arc/cpp/runtime/scheduler/scheduler_test.cpp
  arc/cpp/runtime/time/BUILD.bazel
  arc/cpp/runtime/time/time.h
  arc/cpp/runtime/time/time_test.cpp
  arc/go/analyzer/expression/expression.go
  arc/go/analyzer/flow/expression.go
  arc/go/analyzer/flow/flow.go
  arc/go/analyzer/flow/flow_test.go
  arc/go/analyzer/function/function.go
  arc/go/compiler/compiler_test.go
  arc/go/graph/analyze.go
  arc/go/runtime/node/context.go
  arc/go/runtime/scheduler/scheduler.go
  arc/go/runtime/scheduler/scheduler_test.go
  arc/go/runtime/state/state.go
  arc/go/runtime/state/state_test.go
  arc/go/runtime/telem/telem_test.go
  arc/go/runtime/time/time.go
  arc/go/runtime/time/time_test.go
  arc/go/runtime/wasm/bindings/bindings_test.go
  arc/go/runtime/wasm/bindings/generate/main.go
  arc/go/runtime/wasm/bindings/runtime_generated.go
  arc/go/runtime/wasm/function.go
  arc/go/runtime/wasm/module.go
  arc/go/runtime/wasm/wasm_test.go
  arc/go/symbol/scope.go
  arc/go/symbol/scope_test.go
  core/pkg/service/arc/runtime/factory.go
  core/pkg/service/arc/runtime/state_config.go
  core/pkg/service/arc/runtime/state_config_test.go
  core/pkg/service/arc/runtime/task.go
  core/pkg/service/arc/runtime/task_test.go
  core/pkg/service/framer/calculation/calculator/calculator.go
Due: arc-cpp, arc-go

[docs/site] - consolidated data processing guides
  docs/arc-research/01-arc-language-deep-dive.md
  docs/arc-research/02-documentation-best-practices.md
  docs/arc-research/03-synnax-docs-structure.md
  docs/arc-research/04-writing-style.md
  docs/site/src/pages/reference/control/arc/concepts/reactive-execution.mdx
  docs/site/src/pages/reference/control/arc/concepts/sequences-and-stages.mdx
  docs/site/src/pages/reference/control/arc/concepts/stateful-variables.mdx
  docs/site/src/pages/reference/control/arc/how-to/_nav.ts
  docs/site/src/pages/reference/control/arc/how-to/alarms.mdx
  docs/site/src/pages/reference/control/arc/how-to/data-processing.mdx
  docs/site/src/pages/reference/control/arc/how-to/derived-calculations.mdx
  docs/site/src/pages/reference/control/arc/how-to/rate-of-change.mdx
  docs/site/src/pages/reference/control/arc/how-to/sensor-averaging.mdx
  docs/site/src/pages/reference/control/arc/how-to/sensor-validation.mdx
  docs/site/src/pages/reference/control/arc/how-to/test-sequences.mdx
  docs/site/src/pages/reference/control/arc/how-to/unit-conversions.mdx
  docs/site/src/pages/reference/control/arc/reference/built-ins.mdx
  docs/site/src/pages/reference/control/arc/reference/syntax.mdx
Due: none

[docs] - continued cleanup
  arc/go/formatter/formatter_test.go
  arc/go/formatter/printer.go
  docs/arc-research/01-arc-language-deep-dive.md
  docs/arc-research/02-documentation-best-practices.md
  docs/site/src/layouts/Root.astro
  docs/site/src/pages/reference/control/arc/concepts/reactive-execution.mdx
  docs/site/src/pages/reference/control/arc/concepts/sequences-and-stages.mdx
  docs/site/src/pages/reference/control/arc/introduction.mdx
Due: arc-go

SY-3619: Add Python code coverage (#1895)
  .github/actions/test-python/action.yaml
  .github/workflows/lint.integration.yaml
  .github/workflows/test.alamos.py.yaml
  .github/workflows/test.client.yaml
  .github/workflows/test.freighter.yaml
  .github/workflows/test.integration.yaml
  .github/workflows/test.migration.yaml
  alamos/py/pyproject.toml
  client/py/pyproject.toml
  codecov.yaml
  freighter/py/pyproject.toml
  uv.lock
Due: none

[arc] - fixed issues with arc grammar
  arc/ts/src/grammar/index.ts
  console/src/code/arc/lsp.ts
  docs/site/src/pages/reference/control/arc/reference/types.mdx
Due: console

[docs/site] - updated arc and lua-based control sequences
  docs/site/src/pages/reference/control/arc/concepts/reactive-execution.mdx
  docs/site/src/pages/reference/control/arc/how-to/alarms.mdx
  docs/site/src/pages/reference/control/arc/how-to/data-processing.mdx
  docs/site/src/pages/reference/control/arc/how-to/test-sequences.mdx
  docs/site/src/pages/reference/control/arc/introduction.mdx
  docs/site/src/pages/reference/control/embedded/get-started.mdx
  docs/site/src/pages/reference/control/embedded/recipes.mdx
  docs/site/src/pages/reference/control/embedded/reference.mdx
  docs/site/src/pages/reference/control/get-started.mdx
Due: none

[docs/site] - subtle tuning
  docs/site/src/pages/reference/control/arc/get-started.mdx
Due: none

[ops] - bumped versions
  console/src-tauri/tauri.conf.json
  core/pkg/version/VERSION
Due: none

[docs/site] - updated docs site organization
  docs/site/SESSION_NOTES.md
  docs/site/STYLE_GUIDE.md
  docs/site/src/components/details/Group.astro
  docs/site/src/components/layout/Header.astro
  docs/site/src/components/media/Media.tsx
  docs/site/src/components/nav/OnThisPage.astro
  docs/site/src/components/nav/Page.tsx
  docs/site/src/components/releases/List.astro
  docs/site/src/components/table/Table.tsx
  docs/site/src/layouts/Releases.astro
  docs/site/src/layouts/Root.astro
  docs/site/src/pages/index.astro
  docs/site/src/pages/reference/console/calculated-channels.mdx
  docs/site/src/pages/reference/control/arc/get-started.mdx
  docs/site/src/pages/reference/control/embedded/get-started.mdx
  docs/site/src/pages/reference/control/embedded/recipes.mdx
  docs/site/src/pages/reference/control/embedded/reference.mdx
  docs/site/src/pages/reference/control/get-started.mdx
  docs/site/src/styles/base.css
  pluto/src/select/Frame.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pluto

[docs/site] - more update progress
  .github/workflows/test.docs.yaml
  docs/site/src/styles/base.css
  docs/site/src/styles/layout.css
  docs/site/src/styles/main.css
  docs/site/src/styles/pluto.css
  pluto/src/theming/static/theme.css
Due: pluto

[docs/site] - formatting
  docs/site/CLEANUP.md
  docs/site/src/pages/reference/client/advanced/auto-commit.mdx
  docs/site/src/pages/reference/client/ranges.mdx
  docs/site/src/pages/reference/core/requirements.mdx
  docs/site/src/pages/reference/driver/labjack/read-task.mdx
  docs/site/src/pages/reference/driver/labjack/write-task.mdx
  docs/site/src/pages/reference/driver/modbus/read-task.mdx
  docs/site/src/pages/reference/driver/modbus/write-task.mdx
  docs/site/src/pages/reference/driver/ni/analog-write-task.mdx
  docs/site/src/pages/reference/driver/ni/counter-read-task.mdx
  docs/site/src/pages/reference/driver/ni/digital-read-task.mdx
  docs/site/src/pages/reference/driver/ni/digital-write-task.mdx
  docs/site/src/pages/reference/driver/opc-ua/read-task.mdx
Due: none

[docs/site] - fixed type checking
  docs/site/src/components/client/Client.tsx
  docs/site/src/components/platform/Platform.tsx
Due: none

[docs/site] - fixed linting issues
  docs/site/src/components/code/external.ts
  docs/site/src/components/details/external.ts
  docs/site/src/components/nav/OnThisPage.tsx
  docs/site/src/components/nav/external.ts
  docs/site/src/components/releases/List.tsx
  docs/site/src/components/releases/external.ts
  docs/site/src/components/table/external.ts
Due: none

[console] - restore pluto CSS import
  console/src/Console.tsx
Due: console

[docs/site] - updated cli reference
  docs/site/src/pages/reference/core/cli-reference.mdx
  docs/site/src/styles/layout.css
Due: none

[docs/site] - updated analog read task details groupo
  docs/site/src/components/article/Article.astro
  docs/site/src/components/details/Details.astro
  docs/site/src/pages/reference/concepts/channels.mdx
  docs/site/src/pages/reference/console/requirements.mdx
  docs/site/src/pages/reference/driver/labjack/read-task.mdx
  docs/site/src/pages/reference/driver/labjack/write-task.mdx
  docs/site/src/pages/reference/driver/modbus/read-task.mdx
  docs/site/src/pages/reference/driver/modbus/write-task.mdx
  docs/site/src/pages/reference/driver/ni/analog-write-task.mdx
  docs/site/src/pages/reference/driver/ni/counter-read-task.mdx
  docs/site/src/pages/reference/driver/opc-ua/read-task.mdx
  docs/site/src/pages/reference/driver/opc-ua/write-task.mdx
  docs/site/src/styles/layout.css
Due: none

[docs/site] - more tuning
  docs/site/src/components/article/Article.astro
  docs/site/src/components/code/Block.astro
  docs/site/src/components/diagram/Diagram.astro
  docs/site/src/components/table/Table.tsx
  docs/site/src/pages/reference/driver/installation.mdx
  docs/site/src/pages/releases/0-48-0.mdx
  docs/site/src/pages/releases/0-49-0.mdx
  docs/site/src/styles/base.css
  docs/site/src/styles/layout.css
Due: none

[docs/site] - updated nav sorting
  docs/site/src/components/nav/Page.tsx
Due: none

[docs/site] - updated reference docs
  docs/site/src/components/article/Article.astro
  docs/site/src/components/nav/OnThisPage.tsx
  docs/site/src/styles/base.css
Due: none

[docs/site] - fixed documentation site rendering
  docs/site/src/components/nav/OnThisPage.tsx
  pluto/package.json
Due: none

[docs/site] - updated image masking
  docs/site/src/components/nav/OnThisPage.astro
  docs/site/src/styles/base.css
Due: none

[ops] - updated github workflows to once again use macos build bots
  .github/workflows/build.synnax.yaml
  scripts/generate_os_matrix.sh
Due: none

Auto Update JSON File
  console/release-spec.json
Due: none

[cesium] - updated calculations of db size to use atomics
  cesium/internal/domain/db.go
  cesium/internal/domain/delete.go
  cesium/internal/domain/index.go
  core/pkg/service/metrics/metrics.go
Due: cesium

Upgrade rules_cc to v0.2.16
  MODULE.bazel
  MODULE.bazel.lock
Due: none

[ops] - updated docker build workflow
  .dockerignore
  .github/workflows/build.synnax.yaml
  core/Dockerfile
Due: none
