Repository synnaxlabs/synnax: changes, and which Codecov flags are due for each by the changed paths.
All: alamos-go, alamos-py, alamos-ts, arc-cpp, arc-go, aspen, cesium, client-cpp, client-py, client-ts, console, core, drift, driver, freighter-cpp, freighter-go, freighter-integration, freighter-py, freighter-ts, pluto, x-cpp, x-go, x-ts

[driver] - more improvements to IgH ethercat master implementation
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/factory.cpp
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/mock/master.h
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task_test.cpp
  driver/ethercat/soem/master.h
Due: driver

Replace ESI LFS submodule with GitHub Releases + http_file
  .github/workflows/build.synnax.yaml
  .github/workflows/test.driver.yaml
  .gitmodules
  MODULE.bazel
  MODULE.bazel.lock
  driver/ethercat/esi/BUILD.bazel
  driver/ethercat/esi/known_devices.cpp
  vendor/BUILD.bazel
  vendor/esi.bzl
  vendor/esi/BUILD.bazel
Due: driver

[vendor/soem] - updated BUILD.bazel
  vendor/soem/BUILD.bazel
Due: none

[vendor/soem] - fixed macro redefinition issues
  vendor/soem/BUILD.bazel
Due: none

[driver/ethercat] - checkpoint
  driver/ethercat/soem/BUILD.bazel
Due: driver

[ops] - improved bazel warnings
  .bazelrc
  driver/ethercat/soem/BUILD.bazel
  vendor/soem/BUILD.bazel
Due: driver

[client/py] - ethercat task types
  client/py/pyproject.toml
  client/py/synnax/__init__.py
  client/py/synnax/ethercat/__init__.py
  client/py/synnax/ethercat/types.py
  client/py/synnax/hardware/ethercat/__init__.py
  client/py/tests/test_ethercat.py
Due: client-py

[docs/site] - updated ethercat docs
  docs/site/src/pages/reference/driver/_nav.ts
  docs/site/src/pages/reference/driver/ethercat/_nav.ts
  docs/site/src/pages/reference/driver/ethercat/configure-device.mdx
  docs/site/src/pages/reference/driver/ethercat/get-started.mdx
  docs/site/src/pages/reference/driver/ethercat/index.astro
  docs/site/src/pages/reference/driver/ethercat/read-task.mdx
  docs/site/src/pages/reference/driver/ethercat/write-task.mdx
  docs/site/src/pages/reference/driver/get-started.mdx
  docs/site/src/pages/reference/driver/task-basics.mdx
Due: none

[driver/ethercat] - comment clean up
  driver/ethercat/channel/channel.h
  driver/ethercat/device/device.h
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/pool.h
  driver/ethercat/errors/errors.h
  driver/ethercat/esi/known_devices.h
  driver/ethercat/ethercat.h
  driver/ethercat/igh/master.h
  driver/ethercat/master/master.h
  driver/ethercat/master/slave_info.h
  driver/ethercat/mock/master.h
  driver/ethercat/mock/pool.h
  driver/ethercat/read_task.h
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.h
  driver/ethercat/telem/telem.h
  driver/ethercat/write_task.h
Due: driver

Get good working client module
  .vscode/synnax.code-workspace
  core/pkg/service/layer.go
  core/pkg/service/sift/client.go
  core/pkg/service/sift/client/client.go
  core/pkg/service/sift/client/client_suite_test.go
  core/pkg/service/sift/client/grpc.go
  core/pkg/service/sift/client/mock.go
  core/pkg/service/sift/client/mock_test.go
  core/pkg/service/sift/client/pool.go
  core/pkg/service/sift/client/pool_test.go
  core/pkg/service/sift/config.go
  core/pkg/service/sift/factory.go
  core/pkg/service/sift/mapping.go
  core/pkg/service/sift/sift_suite_test.go
  core/pkg/service/sift/sift_test.go
  core/pkg/service/sift/upload.go
  core/pkg/service/sift/upload_task.go
  core/pkg/service/sift/uploader.go
  docs/claude/plans/sift-integration-plan.md
Due: none

[console] - ethercat task cleanup
  console/src/hardware/common/task/Controls.tsx
  console/src/hardware/ethercat/device/SelectSlave.tsx
  console/src/hardware/ethercat/device/external.ts
  console/src/hardware/ethercat/device/queries.ts
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/SelectChannelModeField.ts
  console/src/hardware/ethercat/task/SelectChannelModeField.tsx
  console/src/hardware/ethercat/task/SelectPDOField.tsx
  console/src/hardware/ethercat/task/Write.tsx
  console/src/hardware/ethercat/task/types.ts
Due: console

[driver] - more improvements to EtherCAT masters
  arc/cpp/runtime/loop/loop.h
  driver/ethercat/BUILD.bazel
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/errors/errors.h
  driver/ethercat/master/master.h
  driver/ethercat/master/slave_info.h
  driver/ethercat/read_task.h
  driver/ethercat/read_task_test.cpp
  driver/ethercat/scan_task.cpp
  driver/ethercat/scan_task.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/soem/master.h
  driver/ethercat/topology/BUILD.bazel
  driver/ethercat/topology/topology.h
  driver/ethercat/topology/topology_test.cpp
  driver/ethercat/write_task.h
  driver/ethercat/write_task_test.cpp
Due: arc-cpp, driver

[arc/cpp] - fixed runtime loop
  arc/cpp/runtime/loop/loop.h
  arc/cpp/runtime/loop/loop_test.cpp
Due: arc-cpp

some more refactorings
  core/pkg/service/sift/client/client.go
  core/pkg/service/sift/client/grpc.go
  core/pkg/service/sift/client/mock.go
  core/pkg/service/sift/client/mock_test.go
  core/pkg/service/sift/config.go
  core/pkg/service/sift/device.go
  core/pkg/service/sift/factory.go
  core/pkg/service/sift/mapping.go
  core/pkg/service/sift/sift.go
  core/pkg/service/sift/sift_test.go
  core/pkg/service/sift/upload.go
  core/pkg/service/sift/upload_task.go
Due: none

[driver/ethercat] - updated to use lock-free engine
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/engine.h
Due: driver

[driver/ethercat] - updated topology work
  console/src/hardware/ethercat/task/types.ts
  driver/ethercat/master/slave_info.h
  driver/ethercat/soem/master.cpp
  driver/ethercat/topology/topology.h
  driver/ethercat/topology/topology_test.cpp
Due: console, driver

[driver] - more tuning
  driver/ethercat/igh/master.cpp
  driver/ethercat/igh/master.h
  driver/ethercat/soem/master.cpp
Due: driver

[x/cpp] Add cross-platform real-time threading utilities
  .bazelrc
  .gitmodules
  arc/cpp/runtime/loop/BUILD.bazel
  arc/cpp/runtime/loop/loop.h
  arc/cpp/runtime/loop/loop_darwin.cpp
  arc/cpp/runtime/loop/loop_linux.cpp
  arc/cpp/runtime/loop/loop_test.cpp
  arc/cpp/runtime/loop/loop_windows.cpp
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/osal.c
  vendor/soem/macos/osal/osal_defs.h
  vendor/soem/macos/oshw/nicdrv.c
  vendor/soem/macos/oshw/nicdrv.h
  vendor/soem/macos/oshw/oshw.c
  vendor/soem/macos/oshw/oshw.h
  x/cpp/xthread/BUILD.bazel
  x/cpp/xthread/rt.h
  x/cpp/xthread/rt_darwin.cpp
  x/cpp/xthread/rt_default.cpp
  x/cpp/xthread/rt_linux.cpp
  x/cpp/xthread/rt_test.cpp
  x/cpp/xthread/rt_windows.cpp
Due: arc-cpp, x-cpp

[console] Add EtherCAT device and task configuration UI
  console/src/hardware/common/device/Select.tsx
  console/src/hardware/device/external.ts
  console/src/hardware/device/make.tsx
  console/src/hardware/ethercat/device/Configure.tsx
  console/src/hardware/ethercat/device/SelectSlave.tsx
  console/src/hardware/ethercat/device/external.ts
  console/src/hardware/ethercat/device/index.ts
  console/src/hardware/ethercat/device/queries.ts
  console/src/hardware/ethercat/device/services/index.ts
  console/src/hardware/ethercat/device/services/ontology.tsx
  console/src/hardware/ethercat/device/types.ts
  console/src/hardware/ethercat/external.ts
  console/src/hardware/ethercat/index.ts
  console/src/hardware/ethercat/task/Read.tsx
  console/src/hardware/ethercat/task/SelectChannelModeField.tsx
  console/src/hardware/ethercat/task/SelectPDOField.tsx
  console/src/hardware/ethercat/task/Write.tsx
  console/src/hardware/ethercat/task/external.ts
  console/src/hardware/ethercat/task/import.ts
  console/src/hardware/ethercat/task/index.ts
  console/src/hardware/ethercat/task/palette.tsx
  console/src/hardware/ethercat/task/types.ts
  console/src/hardware/task/Selector.tsx
  console/src/hardware/task/external.ts
  console/src/hardware/task/layouts.ts
  console/src/hardware/task/types.tsx
  pluto/src/icon/EtherCAT.tsx
  pluto/src/icon/Icon.css
  pluto/src/icon/registry.tsx
Due: console, pluto

SY-3621: Add TypeScript code coverage (#1903)
  .github/actions/test-typescript/action.yaml
  .github/workflows/test.alamos.ts.yaml
  .github/workflows/test.client.yaml
  .github/workflows/test.console.yaml
  .github/workflows/test.docs.yaml
  .github/workflows/test.drift.yaml
  .github/workflows/test.freighter.yaml
  .github/workflows/test.media.yaml
  .github/workflows/test.pluto.yaml
  .github/workflows/test.x.ts.yaml
  alamos/ts/package.json
  client/ts/package.json
  codecov.yaml
  console/package.json
  docs/site/package.json
  drift/package.json
  freighter/ts/package.json
  package.json
  pluto/package.json
  pnpm-lock.yaml
  turbo.json
  x/ts/package.json
  x/ts/vite.config.ts
Due: none

[client/py] Add EtherCAT task type definitions
  client/py/pyproject.toml
  client/py/synnax/__init__.py
  client/py/synnax/ethercat/__init__.py
  client/py/synnax/ethercat/types.py
  client/py/synnax/hardware/ethercat/__init__.py
  client/py/tests/test_ethercat.py
Due: client-py

[docs] Add EtherCAT driver documentation
  docs/site/src/pages/reference/driver/_nav.ts
  docs/site/src/pages/reference/driver/ethercat/_nav.ts
  docs/site/src/pages/reference/driver/ethercat/configure-device.mdx
  docs/site/src/pages/reference/driver/ethercat/get-started.mdx
  docs/site/src/pages/reference/driver/ethercat/index.astro
  docs/site/src/pages/reference/driver/ethercat/read-task.mdx
  docs/site/src/pages/reference/driver/ethercat/write-task.mdx
  docs/site/src/pages/reference/driver/get-started.mdx
  docs/site/src/pages/reference/driver/task-basics.mdx
Due: none

SY-3469: Upgrade TypeScript dependencies (#1913)
  .github/workflows/test.console.yaml
  .github/workflows/test.docs.yaml
  client/ts/src/status/payload.ts
  configs/eslint/package.json
  docs/site/package.json
  package.json
  pluto/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: client-ts

[vendor/soem] - updated implementation
  vendor/soem/macos/osal/osal_defs.h
  vendor/soem/macos/oshw/nicdrv.h
  vendor/soem/macos/oshw/oshw.h
Due: none

SY-3659: Update `stylelint` to v17 and `*.ts` files (#1914)
  configs/eslint/package.json
  configs/stylelint/eslint.config.ts
  configs/stylelint/index.ts
  configs/stylelint/package.json
  configs/stylelint/tsconfig.json
  console/package.json
  console/stylelint.config.ts
  console/tsconfig.json
  docs/site/package.json
  docs/site/stylelint.config.ts
  docs/site/tsconfig.json
  package.json
  pluto/package.json
  pluto/stylelint.config.ts
  pluto/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  x/media/package.json
  x/media/stylelint.config.ts
  x/media/tsconfig.json
Due: none

remove type aliases
  core/pkg/service/sift/client/client.go
  core/pkg/service/sift/client/grpc.go
  core/pkg/service/sift/client/mock.go
  core/pkg/service/sift/client/mock_test.go
  core/pkg/service/sift/device.go
  core/pkg/service/sift/mapping.go
  core/pkg/service/sift/upload.go
Due: none

[vendor/soem] - added osal tests
  vendor/soem/BUILD.bazel
  vendor/soem/macos/osal/osal_test.cpp
Due: none

[driver/ethercat] - code cleanup
  MODULE.bazel.lock
  driver/errors/errors.h
  driver/ethercat/channel/channel.h
  driver/ethercat/engine/BUILD.bazel
  driver/ethercat/engine/engine.cpp
  driver/ethercat/engine/pool.cpp
  driver/ethercat/engine/pool.h
  driver/ethercat/engine/reader.cpp
  driver/ethercat/engine/writer.cpp
  driver/ethercat/esi/known_devices.cpp
  driver/ethercat/telem/telem.h
  driver/ethercat/telem/telem_test.cpp
Due: driver

[driver/ethercat] - more cleanup
  driver/ethercat/BUILD.bazel
  driver/ethercat/engine/BUILD.bazel
  driver/ethercat/engine/engine_test.cpp
  driver/ethercat/esi/BUILD.bazel
  driver/ethercat/hardware_test.cpp
  driver/ethercat/igh/BUILD.bazel
  driver/ethercat/master_test.cpp
  driver/ethercat/topology/BUILD.bazel
  driver/ethercat/topology/topology_test.cpp
  driver/ethercat/write_task_test.cpp
Due: driver

got a backend somewhat working
  core/pkg/service/layer.go
  core/pkg/service/sift/client/mock.go
  core/pkg/service/sift/device.go
  core/pkg/service/sift/mapping.go
  core/pkg/service/sift/sift.go
  core/pkg/service/sift/sift_suite_test.go
  core/pkg/service/sift/sift_test.go
  core/pkg/service/sift/upload.go
  core/pkg/service/sift/upload_task.go
  x/go/telem/series_factory.go
Due: x-go

Quick and dirty frontend
  console/src/hardware/device/external.ts
  console/src/hardware/external.ts
  console/src/hardware/sift/ExportModal.css
  console/src/hardware/sift/ExportModal.tsx
  console/src/hardware/sift/device/Connect.css
  console/src/hardware/sift/device/Connect.tsx
  console/src/hardware/sift/device/external.ts
  console/src/hardware/sift/device/index.ts
  console/src/hardware/sift/device/palette.tsx
  console/src/hardware/sift/device/types.ts
  console/src/hardware/sift/external.ts
  console/src/hardware/sift/index.ts
  console/src/range/overview/Details.tsx
  core/pkg/service/sift/device.go
Due: console

work file changes
  freighter/integration/go.mod
  freighter/integration/go.sum
  go.work.sum
Due: freighter-integration

Fix names package
  x/go/types/name.go
  x/go/types/name_test.go
Due: x-go

Improve functions for variable series in x/go
  arc/go/runtime/wasm/bindings/generate/main.go
  arc/go/runtime/wasm/bindings/runtime_generated.go
  core/pkg/distribution/framer/codec/codec_test.go
  core/pkg/service/driver/service_test.go
  x/go/binary/codec.go
  x/go/binary/codec_test.go
  x/go/telem/data_type.go
  x/go/telem/data_type_test.go
  x/go/telem/series.go
  x/go/telem/series_factory.go
  x/go/telem/series_test.go
Due: arc-go, x-go

Add Sift Icon
  pluto/src/icon/Sift.tsx
  pluto/src/icon/external.ts
  pluto/src/icon/registry.tsx
Due: pluto

Improve Sift device pane
  console/src/hardware/sift/device/Connect.css
  console/src/hardware/sift/device/Connect.tsx
  console/src/hardware/sift/device/palette.tsx
  console/src/hardware/sift/device/types.ts
  core/pkg/service/sift/device.go
  core/pkg/service/sift/sift_test.go
Due: console

clean up some more
  console/src/hardware/common/device/Select.tsx
  console/src/hardware/sift/ExportModal.tsx
  console/src/hardware/sift/device/Select.tsx
  console/src/hardware/sift/device/external.ts
  console/src/hardware/sift/device/palette.tsx
  console/src/hardware/sift/external.ts
  console/src/range/overview/Details.tsx
Due: console

clean up some of the slop
  core/pkg/service/sift/sift_test.go
  core/pkg/service/sift/upload.go
Due: none

SY-3653: Improve Performance of Cesium DB Size Calculations
  cesium/internal/domain/db.go
  cesium/internal/domain/delete.go
  cesium/internal/domain/index.go
  core/pkg/service/metrics/metrics.go
Due: cesium

Path conditions:
  alamos-go: any of: alamos/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  alamos-py: any of: alamos/py/alamos/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  alamos-ts: any of: alamos/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  arc-cpp: any of: arc/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  arc-go: any of: arc/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  aspen: any of: aspen/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  cesium: any of: cesium/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-cpp: any of: client/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-py: any of: client/py/synnax/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  client-ts: any of: client/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  console: any of: console/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  core: any of: synnax/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  drift: any of: drift/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  driver: any of: driver/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-cpp: any of: freighter/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-go: any of: freighter/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-integration: any of: freighter/integration/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-py: any of: freighter/py/freighter/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  freighter-ts: any of: freighter/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  pluto: any of: pluto/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-cpp: any of: x/cpp/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-go: any of: x/go/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
  x-ts: any of: x/ts/src/**, but not: **/*.pb.go, **/*_generated.go, **/*_string.go, arc/go/parser/arc_lexer.go, arc/go/parser/arc_parser.go, arc/go/parser/arcparser_base_listener.go, arc/go/parser/arcparser_base_visitor.go, arc/go/parser/arcparser_listener.go, arc/go/parser/arcparser_visitor.go
